* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans Arabic', sans-serif;
}

:root {
    --main-color: orange;
}

.container {
    padding: 50px 50px;
}

@media (max-width:574px) {
    .container {
        padding: 50px 10px;
    }
}

@media (max-width:519px) {
    .container {
        padding: 50px 0;
    }
}

.sec {
    width: 100%;
}

body.dark {
    background: #000c18;
}

header {
    background: #fff;
    box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 30%);
    backdrop-filter: blur(10px);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

header .container .logo {
    font-size: 31px;
    background: -webkit-linear-gradient(315deg, #4fab81 25%, #36abff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s anmate linear infinite;
    transition: .3s;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li a {
    position: relative;
    padding: 10px;
    color: #00000059;
    transition: .3s;
}

header nav ul li a::before {
    content: "";
    background: var(--main-color);
    position: absolute;
    box-shadow: 3px 3px 10px var(--main-color);
    inset: 0;
    height: 3px;
    width: 0;
    overflow: hidden;
    transition: .5s;
}

header nav ul li a:hover {
    color: var(--main-color);
}

header nav ul li a:hover::before {
    width: 100%;
}

header li select {
    width: 71px;
    outline: none;
    color: #000000ab;
    border: 0;
}

header li select option {
    color: var(--main-color);
}

header nav .d {
    font-size: 22px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 3px var(--main-color);
    margin-right: 22px
}

header nav .X {
    width: 35px;
    height: 35px;
    background: var(--main-color);
    display: none;
    box-shadow: 0px 2px 20px #157eb9;
    align-items: center;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    justify-content: center;
}

header .bars {
    font-size: 25px;
    color: var(--main-color);
    display: none;
}

@media (max-width:808px) {
    header .container {
        padding: 10px 30px;
    }
}

@media (max-width:768px) {
    header .container {
        padding: 10px;
    }
}

@media (max-width:728px) {
    header .container {
        padding: 10px 20px;
    }

    header .container .bars {
        display: block;
    }

    header nav .X {
        display: flex;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 40px;
    }

    header nav {
        display: flex;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, #673ab7, #00bcd4);
        flex-direction: column;
        transform: translate(-800px, 0);
        transition: .3s;
    }

    header nav.active {
        transform: translate(0, 0);
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 60%;
    }

    header nav .d {
        position: absolute;
        left: 20px;
        top: 15px;
    }

    header nav ul li a {
        color: #00e7ff;
    }
}

.landing {
    position: relative;
    top: 86px;
    background: #eee;
}

.landing .container {
    display: flex;
    width: 100%;
    height: 100%;
}

body.dark .landing .container {
    background-color: rgba(4, 14, 43, 0.945);
}

.landing .container .left {
    width: 30%;
    padding: 5px;
    background: #fff;
    margin: 0 10px;
}

.landing .container .left .head-left {
    background-color: #eee;
}

.landing .container .left .head-left .heading-left {
    color: var(--main-color);
    padding: 3px;
}

.landing .container .right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.landing .container .right .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.landing .container .right .head h2 {
    font-size: 40px;
    color: #000;
}

.landing .container .right .head .socil {
    display: flex;
    align-items: center;
}

.landing .container .right .head .socil a {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 8px;
}

.landing .container img {
    width: 100%;
}

.landing .container .right .body {
    padding: 10px 5px;
}

.landing .container .right .body .bold {
    font-size: 20px;
    font-weight: 800;
}

.landing .container .right .body .p {
    font-size: 17px;
    word-spacing: 7px;
    font-weight: 500;
    line-height: 2.8;
}

.landing .container .right .body .keywords {
    padding: 5px;
    background-color: #eee;
}

.landing .container .right .body .keywords h4 {
    color: #fff;
    width: 177px;
    border-radius: 30px;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 2px 2px 20px orange;
    margin: 5px 0;
}

.landing .container .right .body .keywords .kywords {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.landing .container .right .body .keywords .key {
    padding: 5px;
    background: #fff;
    margin: 5px;
    border-radius: 15px;
}

@media (max-width:749px) {
    .landing .container {
        flex-direction: column;
    }

    .landing .container .right,
    .landing .container .left {
        width: 100%;
    }
}

@media (max-width:474px) {
    .landing .container .right .head h2 {
        font-size: 30px;
    }
}

@media (max-width:418px) {
    .landing .container .right .head h2 {
        font-size: 26px;
    }
}

@media (max-width:398px) {
    .landing .container .right .head {
        padding: 0 5px;
    }
}

@media (max-width:368px) {
    .landing .container .right .head .socil a {
        margin: 0 5px;
    }
}

.landing .container .left .card {
    width: 100%;
    overflow: hidden;
    background: #fff;
    display: flex;
    transition: .3s;
    flex-direction: column;
    margin: 10px 0;
    background-image: url("../image/rowman.jpg");
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

.landing .container .left .card.f {
    background-image: url("../image/fraw.jpg");
}

.landing .container .left .card.apple {
    background-image: url("../image/apple.jpg");
}

.landing .container .left .card.Mango {
    background-image: url("../image/Mango.jpg");

}
.landing .container .left .card.orange {
    background-image: url("../image/orange-2.jpg");

}

.landing .container .left .card.Fig {
    background-image: url("../image/fig.jpg");
}

.landing .container .left .card.Pineapple {
    background-image: url("../image/Pineapple.jpg");
}

.landing .container .left .card p {
    font-size: 16px;
    line-height: 2;
    margin: 5px;
    color: #fff;
}

.landing .container .left .card h4 {
    color: #fff;
}

@media (max-width: 1036px) {
    .landing .container {
        flex-direction: column;
        align-items: center;
    }

    .landing .container .right {
        width: 100%;
        /* order: 1; */
    }

    .landing .container .left {
        width: 100%;
        margin: 10px 10px;
    }

    .landing .container .left .card {
        min-height: 141px;
        justify-content: space-evenly;
    }
}

/* anmation  */
@keyframes anmate {
    10% {
        background: -webkit-linear-gradient(315deg, #18573b 25%, #0095ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(315deg, #2e59b6 25%, #172ad8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(315deg, #4fab81 25%, #a412dd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* anmation */
